<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="./assets/images/logo-luis-vargas-blanco.png" class="img-fluid d-block m-auto" />
            </div>
            <div class="col-12">
                <ul>
                    <li><a href="#about-me">Acerca de Mí</a></li>
                    <li><a href="#experiencia">Experiencia</a></li>
                    <li><a href="#habilidades">Habilidades</a></li>
                    <li><a href="#portafolio">Portafolio</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>    
</footer>