<section class="container menu-dash pt-10 pb-5">
    <div class="row">
        <div class="col-lg-12">
            <H1>Habilidades</H1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Habilidades
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <form class="row g-3" [formGroup]="formSkill">
                      <div class="col-12 mb-4">
                        <label for="logo" class="form-label">Selecciona Logo</label>
                        <input class="form-control" type="file" formControlName="logo" [ngClass]="{'is-invalid': isValid('logo')}" (change)="uploadFile($event)">
                      </div>
                        <div class="col-12">
                          <label for="tecnologia" class="form-label">Nombre Tecnología</label>
                          <input type="text" class="form-control" formControlName="tecnologia" placeholder="tecnologia" [ngClass]="{'is-invalid': isValid('tecnologia')}">
                        </div>
                       
                        <div class="col-12">
                          <button type="submit" class="btn btn-blue btn-sm" (click)="agregarSkill()" [disabled]= "formSkill.invalid">Guardar</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Logo</th>
                            <th scope="col">Nombre</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let skill of listSkill">
                            <th scope="row">1</th>
                            <td><img src="{{ skill.logo}}" class="img-fluid logo-skill"></td>
                            <td>{{ skill.tecnologia }}</td>
                            <td><button class="btn btn-danger" (click)="onClickDelete(skill)">Eliminar</button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
    
</section>