<section class="container menu-dash pt-10 pb-5">
    <div class="row">
        <div class="col-lg-12">
            <H1>Acerca de Mi</H1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Acerca de Mi</li>
                </ol>
              </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img src="assets/images/about-me.png" class="img-fluid" />
        </div>
        <div class="col-8">
          <form [formGroup]="formAboutMe">
            <div class="mt-5">
                <label for="titulo" class="form-label">Título:</label>
                <input type="text" name="titulo"  formControlName="titulo" class="form-control">
            </div>
            <div class="mt-5">
                <label for="descripcion" class="form-label">Descripción:</label>
                <editor apiKey="uekaen7rfwenkvfdv05s40nqez1ptzbzczlkby1sqc1nje6p"
                  [init]="{
                    height: 500,
                    menubar: false,
                    plugins: [
                      'advlist autolink lists link image charmap print preview anchor',
                      'searchreplace visualblocks code fullscreen',
                      'insertdatetime media table paste code help wordcount'
                    ],
                    toolbar:
                      'undo redo | formatselect | bold italic backcolor | \
                      alignleft aligncenter alignright alignjustify | \
                      bullist numlist outdent indent | removeformat | help'
                  }"
                ></editor>

               
               
            </div>
          </form>
        </div>
        <div class="col-12 mt-5">
            <a href="#" class="btn btn-blue animate__animated animate__fadeInUp">Actualizar</a>
        </div>
    </div>
</section>