<owl-carousel-o [options]="owlOptions">
    <ng-template carouselSlide>
        <div class="slide card">
            <img src="./../../../assets/images/clickspublicitarios.png" alt="Content 1">
            <h3>Desarrollador Front-End</h3>
            <h5>2017 - 2020</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide card">
            <img src="./../../../assets/images/clickspublicitarios.png" alt="Content 1">
            <h3>Desarrollador Front-End</h3>
            <h5>2017 - 2020</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide card">
            <img src="./../../../assets/images/clickspublicitarios.png" alt="Content 1">
            <h3>Desarrollador Front-End</h3>
            <h5>2017 - 2020</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide card">
            <img src="./../../../assets/images/clickspublicitarios.png" alt="Content 1">
            <h3>Desarrollador Front-End</h3>
            <h5>2017 - 2020</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
    </ng-template>
    
</owl-carousel-o>