
<router-outlet></router-outlet>

<app-navbar></app-navbar>

<app-header></app-header>

<section class="experiencia">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Experiencia</h2>
            </div>
        </div>
        <div class="row">
            <app-work-experience></app-work-experience>
        </div>
    </div>
</section>


<section class="recomendaciones">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
</section>
