<section class="header">
    <h1 class="animate__animated  animate__backInDown">{{titulo}}</h1>
    <h3 class="animate__animated animate__backInLeft animate__delay-1s">{{puesto}}</h3>
    <a href="{{ cv }}" target="_blank" class="btn btn-blue animate__animated animate__fadeInUp">Descargar CV</a>
</section>

<section id="about-me" class="about-me">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2 col-sm-8 offset-sm-2 col-md-6 offset-md-0 d-flex justify-content-center align-items-center">
                <div class="imagen">
                    <img src="{{ fotografia }}" class="img-fluid m-auto" alt="Acerca de mí" />
                </div>
            </div>
            <div class="col-sm-12 col-md-6 animate__animated animate__fadeInUp">
                <h2>{{ subtitle }}</h2>
                <div [innerHTML]="descripcion"></div>
            </div>
        </div>
    </div>
</section>

<app-work-experience></app-work-experience>

<app-skills></app-skills>

<app-projects></app-projects>

<app-contacto></app-contacto>