<section class="container menu-dash pt-5 pb-5">
    <div class="row">
        <div class="col-4">
            <a href="/dashboard/about-me" class="card mb-5">
                <img src="assets/images/menu-dash/acerca-de-mi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Acerca de Mí</p>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="/dashboard/experiencie" class="card mb-5">
                <img src="assets/images/menu-dash/experiencia.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Experiencia</p>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="/dashboard/habilities" class="card mb-5">
                <img src="assets/images/menu-dash/habilidades.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Habilidades</p>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="/dashboard/portfolio" class="card mb-5">
                <img src="assets/images/menu-dash/portafolio.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Portafolio</p>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a href="/dashboard/contact" class="card mb-5">
                <img src="assets/images/menu-dash/acerca-de-mi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Contacto</p>
                </div>
            </a>
        </div>
    </div>
</section>