<section class="container menu-dash pt-5 pb-5">
    <div class="row">
        <div class="col-4">
            <a [routerLink]="['/dashboard/about-me']"  class="card mb-5">
                <img src="assets/images/menu-dash/acerca-de-mi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Acerca de Mí</p>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a [routerLink]="['/dashboard/experience']"  class="card mb-5">
                <img src="assets/images/menu-dash/experiencia.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Experiencia</p>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a [routerLink]="['/dashboard/skills']"  class="card mb-5">
                <img src="assets/images/menu-dash/habilidades.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Habilidades</p>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a [routerLink]="['/dashboard/proyectos']"  class="card mb-5">
                <img src="assets/images/menu-dash/portafolio.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Portafolio</p>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a [routerLink]="['/dashboard/contact']" routerLinkActive="router-link-active"  class="card mb-5">
                <img src="assets/images/menu-dash/acerca-de-mi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Contacto</p>
                </div>
            </a>
        </div>
    </div>
</section>